# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
miniprogram_npm/

# 小程序
miniapp/project.private.config.json
miniapp/miniprogram_npm/
